@{
    ViewBag.Title = "Login";
}

<div class="row">
    <nav class="navbar-inverse">

        <center>
            <h2> <i class="fa fa-user"> </i> <b>Ingresar al sistema</b></h2>
        </center>

    </nav>
</div>

<br>

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">
            Ingresar al sistema
        </div>
        <div class="panel-body">
            <!--Aqui se muestra un mensaje si el email o el password es incorrecto-->
            @if (ViewBag.Mostrar == "1")
            {
                <div class="alert alert-danger">
                    <i class="fa fa-times"> </i> <b>Usuario o contraseña incorrectos, intente nuevamente</b>
                </div>
            }

            <form id="loginform" method="post" action="/login/validarIdentificacion" class="form-horizontal">

                <div class="form-group">
                    <label for="email_use" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input id="email_use" type="text" class="form-control" name="email_use" placeholder="Ingrese Email" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password_use" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input id="login-password" type="password" class="form-control" name="password_use" placeholder="Ingrese password" required="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button id="btn-login" type="submit" class="btn btn-info btn-block btn-lg">
                            Ingresar
                        </button>

                    </div>
                </div>

            </form>
        </div>

    </div>

</div>


<script>

        $('#loginform').validate({
            rules:{
                email_use:{
                    required:true

                },
              password_use:{
                required:true
              }
            },
            messages:{
                 email_use:{
                    required:"Ingrese email"
                },
              password_use:{
                  required:"Ingrese password"
              }
            }
        });
</script>